ul {
    list-style: none;
    display: flex;
}

.nav-dashboard-container {
    display: flex;
    flex-direction: column;
}
.nav-container > ul {
    padding: 20px 0;
    justify-content: space-between;
}
.nav-container li {
    font-size: 1.4rem;
}
.black-sideband {
    position: absolute;
    width: 1500px;
    height: 400px;
    z-index: -1;
    background: linear-gradient(to right, #8963BA,#A9FFF7, #5AFF15, #F7EC09);

    transform: rotateZ(-35deg);
    top: -31vh;
    left: -31vw;
    background-size: 400%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation: anime 20s ease infinite alternate;
}
@keyframes anime {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

img {
    width: 300px;
}
.dashboard-container {
    display: flex;
    justify-content: space-between;
}
.dashboard-left-container {
    text-align: justify;
    width: 60%;
    align-self: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

/* Icons */
.dashboard-icon-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}
.dashboard-icon {
    width: 1.8rem;
    height: 1.8rem;
}
#react-icon {
    color: #61dbfb;
}
#html-icon {
    color: #e34c26;
}
#git-icon {
    color: #3E2C00;
}
#typescript-icon {
    color: #007acc;
}
#express-icon {
    color: #899499;
}
#mongodb-icon {
    color: #4DB33D;
}
#css-icon {
    color: #264de4;
}
#nodejs-icon {
    color: #3c873a;
}
#redux-icon {
    color: #764abc;
}
#javascript-icon {
    color: #F0DB4F;
}
#framer-icon {
    color: #0c0c0c;
}

/* buttons */

.dashboard-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}
.dashboard-btn {
    width: 15rem;
    height: 2.5rem;
    outline: 2px solid #8F43EE;
    font-weight: 600;
    border: none;
    color: #8F43EE;
    font-family: var(--poppins-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px;
    background: transparent;
    transition: all .8s;
}
.dashboard-btn:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: #8F43EE;
}
.profile-img::before {
    position: absolute;
    transform: translateY(7rem);
    content: '';
    background-color: #F7EC09;
    width: 300px;
    height: 300px;
    border-radius: 400px;
    z-index: -1;
}
.profile-img::after {
    position: absolute;
    transform: translateY(12rem) translateX(-9rem);
    content: '';
    background-color: #A9FFF7;
    width: 300px;
    height: 300px;
    border-radius: 400px;
    z-index: -2;
}